<%= render 'header' %>
	<% case @item[:layout] when 'twocol' then %>
	<div class="colmask leftmenu">
		<div class="colright">
			<div class="col1wrap">
				<div class="col1_leftmenu">
					<%= yield %>
				</div>
			</div>
			<div class="col2_leftmenu">
				<%= @item[:leftpane] %>
			</div>
		</div>
	</div>
	<% else %>
	<div class="colmask fullpage">
		<div class="col1_onecol">
			<%= yield %>
		</div>
	</div>
	<% end %>
<%= render 'footer' %>
