<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Mao Yu's kitchen - <%= @item[:title] %></title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" media="screen" />
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="<%= @item[:summary] %>" />
	<meta name="keywords" content="<%= @item[:tags] %>" />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-17478090-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
	<div id="header">
		<ul>
		<% {''=>'Home',
			'projects'=>'Projects',
			'resources'=>'Resources',
			'notes'=>'Notes'}
			.each do |root_cat| %>
			<li><a href="/<%= root_cat[0] %>"<% if @item[:root]==root_cat[0]%> class="active"<% end %>><%= root_cat[1]%></a></li>
			<% end %>
		</ul>
		<a href="/"><img src="/images/logo.png" alt="Logo" style="float:left"/></a>
			<h1>Mao Yu</h1>
		<span id="slogan">Casual code cook...</span>
	</div>

