<%= render 'header' %>
<div class="colmask fullpage">
	<div class="col1_onecol">
		<h2><%= @item[:title] %></h2>
		<div class="summary_footer">
			<ul><% @item[:proj_links].each do |j,k| %>
				<li><a href="<%= k %>"><%= j %></a></li>
			<% end %></ul>
		</div>
		<p><%= @item[:summary] %></p>
		<%= yield %>
	</div>
</div>
<%= render 'footer' %>
