<%= render 'header' %>
<div class="colmask fullpage">
	<div class="col1_onecol">
		<h2><%= @item[:title] %></h2>
		<div class="summary_footer">
			<ul><% @item[:links].each do |j,k| %>
				<li><a href="<%= k %>"><%= j %></a></li>
			<% end %></ul>
		</div>
		<p><%= @item[:summary] %></p>
		<%= yield %>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_identifier ='<%= @item.identifier %>';
		  (function() {
		   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		   dsq.src = 'http://maoyuskitchen.disqus.com/embed.js';
		   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		  })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=maoyuskitchen">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>
<%= render 'footer' %>
